---
---

@import "{{ site.theme }}";

$red: #f12e15;

body {
 width: 100vw;
 overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1024px;
  margin: 0 auto;

  header {
    background-color: white;
    width: 100%;
    float: inherit;
    position: fixed;
    top: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  footer {
    width: 100%;
    float: inherit;
    position: inherit;
    -webkit-font-smoothing: subpixel-antialiased;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  section {
    width: 100%;
    padding-top: 150px;

    h1 {
      font-size: 28px;
      padding-left: 8px;
      border-left: 4px solid $red;
    }

    p {
     line-height: 1.8rem;
    }

    a.button {
      background: transparent;
      border: 1px solid $red;
      color: $red;
      padding: 9px 13px 7px;
      margin-bottom: 1rem;
      min-width: 150px;

      &:hover {
        background: $red;
        color: white;
      }
    }

    a.link {
      background: transparent;
      color: $red;
      padding: 9px 13px 7px;
      padding-left: 0;
      margin-bottom: 1rem;
      min-width: 150px;
      transition: all 0.5s ease-out;

      &:hover {
        padding-left: 13px;
        background: $red;
        color: white;
      }
    }
  }
}

.mx-auto {
  margin: 0 auto;
}

.fit-content {
  width: fit-content;
}

.p-3 {
  padding: 20px;
}
